{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container w-full h-[85%] flex flex-col justify-center items-center">
    <div class="w-1/2 mx-auto flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center mb-2 ">
            <div class="picture w-12 h-12 rounded-full bg-amber-100 mb-2">
            </div>
            <div class="info text-center text-zinc-400">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate optio consequatur ipsa sit et debitis officia, laudantium laborum porro aliquam eius excepturi. Sequi nisi ullam, ad repellat deserunt sit placeat?</p>
            </div>
            <div class="name text-lg font-semibold">
                <h1>Shashikant Mayura</h1>
            </div>
            <div class="profetion text-zinc-400 mb-2">
                <p>Product Manager (profetional)</p>
            </div>   
        </div>
        <div class="flex flex-col justify-center items-center mb-2 ">  
            <div class="picture w-12 h-12 rounded-full bg-amber-100 mb-2">
            </div>
            <div class="info text-center text-zinc-400">
                <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate optio consequatur ipsa sit et debitis officia, laudantium laborum porro aliquam eius excepturi. Sequi nisi ullam, ad repellat deserunt sit placeat?</p>
            </div>
            <div class="name text-lg font-semibold">
                <h1>Pawan Banait</h1>
            </div>
            <div class="profetion text-zinc-400">
                <p>Team leader (Skill : Unknown)</p>
            </div> 
        </div> 
        <div class="flex flex-col justify-center items-center mb-2 ">
            <div class="picture w-12 h-12 rounded-full bg-amber-100 mb-2">
            </div>
            <div class="info text-center text-zinc-400">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate optio consequatur ipsa sit et debitis officia, laudantium laborum porro aliquam eius excepturi. Sequi nisi ullam, ad repellat deserunt sit placeat?</p>
            </div>
            <div class="name text-lg font-semibold">
                <h1>Pratik Majage</h1>
            </div>
            <div class="profetion text-zinc-400">
                <p>Ui Devloper (junior)</p>
            </div>  
        </div>     
    </div>
</div>
{% endblock %}