{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container w-full h-[85%] flex flex-col justify-center items-center ">
    <h1 class="text-3xl font-bold mb-4">Contact Us</h1>
    <div class="w-30 flex flex-col justify-center items-start mr-0 ">
    <div class="flex justify-center items-center gap-2 border-b-2 mb-2">
        <i class="ri-linkedin-box-fill text-2xl p-0"></i>
        <a href="">
            <p class="linkedin text-xl ">LinkedIn</p>
        </a>
    </div>
    <div class="flex justify-center items-center gap-2 border-b-2 mb-2">
        <i class="ri-github-fill text-2xl p-0"></i>
        <a href="">
            <p class="github text-xl inline-block">GitHub</p>
        </a>
    </div>
    <div class="flex justify-center items-center gap-2 border-b-2 mb-2">
        <i class="ri-facebook-box-fill text-2xl p-0"></i>
        <a href="">
            <p class="Facebook text-xl ">Facebook</p>
        </a>
    </div>
    <div class="flex justify-center items-center gap-2 border-b-2 mb-2">
        <i class="ri-instagram-fill text-2xl p-0"></i>
        <a href="">
            <p class="instagram text-xl ">Instagram</p>
        </a>
    </div>
    </div>
</div>
{% endblock %}