{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="mainsection w-full h-[85%] flex justify-center items-center bg-[url('https://plus.unsplash.com/premium_photo-1683141310906-d46dad20b78e?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-center bg-cover">
    <div class="w-[70%] m-auto text-center ">
        <div class="text-8xl uppercase text-[#dcdcdc]">
            <h1>welcome to the collage of engineering.</h1>        
        </div>
    </div>

{% comment %} {% include 'components/card.html' %} {% endcomment %}
    
</div>
{% endblock %}



